.form-filiais {
    background-color: white;
}

.form-filiais > * {
    border-bottom: 1px solid #0000004f;
}

.label-text, .native-input {
    color: black !important;
}

.container-botoes {
    width: 100vw;
    text-align: center;
}